<div class="wordle">
  <div class="game">
    <div class="header">
      <div class="title">Сыграй в Wordle на русском!</div>
      <div
        class="controls"
        *ngIf="{
          gameOver: gameOver$ | async,
          currentRowIndex: currentRowIndex$ | async,
          size: size$ | async
        } as params"
      >
        <div class="size">
          <div class="size-title">Количество букв в загаданном слове</div>
          <div class="size-btns">
            <div
              class="size-btn"
              [class.size-btn-active]="params.size === n + 4"
              *ngFor="let n of 8 | arrayFromNumber"
              (click)="changeSize(n + 4)"
            >
              {{ n + 4 }}
            </div>
          </div>
        </div>

        <button
          class="reset-btn"
          (click)="abortGame()"
          *ngIf="
            params.currentRowIndex ||
            (params.gameOver !== 'unknown' && !params.currentRowIndex)
          "
        >
          {{ params.gameOver === "unknown" ? "Сдаться" : "Начать заново" }}
        </button>
      </div>
    </div>

    <div
      class="cells"
      *ngIf="{
        size: (size$ | async) ?? 0,
        wordRows: (wordRows$ | async) ?? [],
        currentRowIndex: (currentRowIndex$ | async) ?? 0
      } as params"
    >
      <div
        class="row"
        *ngFor="let row of tryesCount | arrayFromNumber; let rowIndex"
      >
        <ng-container
          *ngFor="let col of params.size | arrayFromNumber; let letterIndex"
        >
          @if (params.wordRows[rowIndex][letterIndex] ?? {}; as letter) {
            <div
              class="cell"
              [class.filled]="params.wordRows[rowIndex][letterIndex]"
              [class.flipped]="
                params.wordRows[rowIndex]?.length === params.size &&
                params.currentRowIndex > rowIndex
              "
            >
              <div
                class="cell-content"
                [style.animation-delay]="200 * letterIndex + 'ms'"
              >
                <div class="cell-front">
                  {{ letter.letter ?? "" | uppercase }}
                </div>
                <div
                  class="cell-back"
                  [class.hasbut]="letter.type === 'hasbut'"
                  [class.has]="letter.type === 'has'"
                  [class.hasnt]="letter.type === 'hasnt'"
                >
                  {{ letter.letter ?? "" | uppercase }}
                </div>
              </div>
            </div>
          }
        </ng-container>
      </div>
    </div>
  </div>

  <div
    class="keyboard"
    *ngIf="wordleKeyboardKeyTypes$ | async as wordleKeyboardKeyTypes"
  >
    <div class="keyboard-row" *ngFor="let keyboardRow of wordleKeyboard">
      <div
        class="keyboard-btn"
        [class.keyboard-btn-wide]="keyIsWide(key)"
        [class.keyboard-btn-orange]="
          wordleKeyboardKeyTypes[$any(key)] === 'hasbut'
        "
        [class.keyboard-btn-green]="wordleKeyboardKeyTypes[$any(key)] === 'has'"
        [class.keyboard-btn-gray]="
          wordleKeyboardKeyTypes[$any(key)] === 'hasnt'
        "
        (click)="keyboardKeyClick(key)"
        *ngFor="let key of keyboardRow"
      >
        {{ getKeySymbol(key) }}
      </div>
    </div>
  </div>
</div>
